<div class="clr-row">
  <div class="clr-col-1">
    <button class="btn btn-primary" (click)="refreshData()" >Refresh</button>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <label>Number workers:</label>
    <label style="float: right">{{ visualLiveStatusData.numberOfWorkers }}</label>
  </div>
</div>
<div class="clr-row" style="align-items: center;">
  <div class="clr-col-2">
    <label>Running tests:</label>
    <label style="float: right">{{ visualLiveStatusData.runningTestIndex }}</label>
  </div>
  <div class="clr-col-9" style="padding: 0px;">
    <div class="progress">
      <progress id="overallProgressBar" value="visualLiveStatusData.runningTestIndex" max="visualLiveStatusData.runningTestTotal"></progress>
    </div>
  </div>
  <div class="clr-col-1">
    <label style="float: left">{{ visualLiveStatusData.runningTestTotal }}</label>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <label>Succeeded tests:</label>
    <label style="float: right; color:#68C71A">{{ visualLiveStatusData.numberOfSucceededTests }}</label>
  </div>
  <div class="clr-col-2">
    <label>Failed tests:</label>
    <label style="float: right; color:#9E57BC">{{ visualLiveStatusData.numberOfFailedTests }}</label>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <label>Min execution time:</label>
    <label style="float: right;">{{ visualLiveStatusData.minExecutionTime }}</label>
  </div>
  <div class="clr-col-2">
    <label>Max execution time:</label>
    <label style="float: right;">{{ visualLiveStatusData.maxExecutionTime }}</label>
  </div>
  <div class="clr-col-2">
    <label>Average execution time:</label>
    <label style="float: right;">{{ visualLiveStatusData.avgExecutionTime }}</label>
  </div>
  <div class="clr-col-2" style="padding: 0;">
    <label>Total running time:</label>
    <label style="float: right;">{{ visualLiveStatusData.totalRunningTime }}</label>
  </div>
  <div class="clr-col-2" style="padding: 0;margin-left: 1.5rem;">
    <label>Estimated time of arrival:</label>
    <label style="float: right;">{{ visualLiveStatusData.etaTime }}</label>
  </div>

</div>
<div class="clr-row">
  <table class="table">
    <thead>
      <tr>
        <th>
          Index
        </th>
        <th>
          Worker IP
        </th>
        <th>
          Test name
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of runningTestsItemsCollection; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ row.ipAddress }}
          </td>
          <td>
            {{ row.testDisplayName }}
          </td>
          <td>
            {{ row.testStatus }}
          </td>
      </tr>
    </tbody>
  </table>
</div>
