<div class="clr-row">
  <div class="clr-col-1">
    <button class="btn btn-primary" (click)="refreshData()" >Refresh</button>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <label>Number of workers:</label>
    <label style="float: right">{{ visualLiveStatusData.numberOfWorkers }}</label>
  </div>
</div>
<div class="clr-row" style="align-items: center;">
  <div class="clr-col-2">
    <label>Running tests:</label>
    <label style="float: right">{{ visualLiveStatusData.runningTestIndex }}</label>
  </div>
  <div class="clr-col-9" style="padding: 0px;">
    <div class="progress">
      <progress id="overallProgressBar" [value]="visualLiveStatusData.runningTestIndex " [max]="visualLiveStatusData.runningTestTotal"></progress>
    </div>
  </div>
  <div class="clr-col-1">
    <label style="float: left">{{ visualLiveStatusData.runningTestTotal }}</label>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <label>Succeeded tests:</label>
    <label style="float: right; color:#68C71A">{{ visualLiveStatusData.numberOfSucceededTests }}</label>
  </div>
  <div class="clr-col-2">
    <label>Failed tests:</label>
    <label style="float: right; color:#9E57BC">{{ visualLiveStatusData.numberOfFailedTests }}</label>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <label>Min execution time:</label>
    <label style="float: right;">{{ visualLiveStatusData.minExecutionTime }}</label>
  </div>
  <div class="clr-col-2">
    <label>Max execution time:</label>
    <label style="float: right;">{{ visualLiveStatusData.maxExecutionTime }}</label>
  </div>
  <div class="clr-col-2">
    <label>Average execution time:</label>
    <label style="float: right;">{{ visualLiveStatusData.avgExecutionTime }}</label>
  </div>
  <div class="clr-col-2" style="padding: 0;">
    <label>Total running time:</label>
    <label style="float: right;">{{ visualLiveStatusData.totalRunningTime }}</label>
  </div>
  <div class="clr-col-2" style="padding: 0;margin-left: 1.5rem;">
    <label>Estimated time of arrival:</label>
    <label style="float: right;">{{ visualLiveStatusData.etaTime }}</label>
  </div>

</div>
<div class="clr-row">
  <table class="table">
    <thead>
      <tr>
        <th class="left" style="width: 1vw;">
          Index
        </th>
        <th class="left">
          Worker IP
        </th>
        <th class="left">
          Log
        </th>
        <th class="left">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of workersCollection; let i = index">
          <td class="left">
            {{ i + 1 }}
          </td>
          <td class="left">
            <a [routerLink]="['/report', row.ipAddress]">{{ row.ipAddress }}</a>
          </td>
          <td class="left">
            {{ row.lastLogRecord }}
          </td>
          <td class="left">
            <span class="material-icons md-24">{{ row.runningStatus }}</span>
          </td>
      </tr>
    </tbody>
  </table>
</div>
