<div class="progress loop" *ngIf=loading>
  <progress></progress>
</div>

<clr-datagrid *ngIf="testsDetailsCollectionHasItems && !loading">
  <clr-dg-column [clrDgField]="'DisplayName'">Display name</clr-dg-column>
  <clr-dg-column [clrDgField]="'VisualSourceText'">Source</clr-dg-column>
  <clr-dg-column>Labels</clr-dg-column>

  <!-- <clr-dg-row *ngFor="let visualTest of (testCasesCollection | async)"></clr-dg-row>   -->
  <clr-dg-row *clrDgItems="let visualTest of testsDetailsCollection">
    <clr-dg-cell>{{visualTest.DisplayName}}</clr-dg-cell>
    <clr-dg-cell>{{visualTest.VisualSourceText}}</clr-dg-cell>
    <clr-dg-cell>
      <ng-container *ngFor="let singleLabel of visualTest.Labels">
        <span class="label label-info">{{ singleLabel.key }}:{{ singleLabel.value }}</span>
      </ng-container>
    </clr-dg-cell>
    <clr-dg-row-detail *clrIfExpanded>
      <table class="table table-vertical">
        <tbody>
          <tr>
            <th>ID</th>
            <td>{{ visualTest.id }}</td>
          </tr>
          <tr>
            <th>
              Fully qualified name
            </th>
            <td>
              {{visualTest.FullyQualifiedName}}
            </td>
          </tr>
          <tr>
            <th>
              Line number
            </th>
            <td>
              {{visualTest.LineNumber}}
            </td>
          </tr>
          <tr>
            <th>
              Code file path
            </th>
            <td>
              {{visualTest.CodeFilePath}}
            </td>
          </tr>
        </tbody>
      </table>
    </clr-dg-row-detail>
  </clr-dg-row>

  <!-- <clr-dg-footer>{{users.length}} users</clr-dg-footer> -->
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Tests per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
