<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <div class="card-header">
        Test server
        <ng-container *ngIf="serverHealthStatus">
          {{grpcServerAddress}}
        </ng-container>
      </div>
      <div class="card-block">

        <div class="alert alert-warning alert-sm" role="alert" *ngIf="connectionErrorOccurred">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
              </div>
              <div class="alert-text">
                Error: {{connectionErrorMessage}}
              </div>
            </div>
          </div>
        </div>


        <div class="card-text">
          <clr-input-container id="grpcServerAddressContainer" *ngIf="!serverHealthStatus">
            <label for="serverAddress" id="lblGrpcServerAddress">Server URL</label>
            <input clrInput type="text" id="grpcServerAddress" placeholder="Enter Test server URL" [(ngModel)]="grpcServerAddress" />
            <div class="progress loop" style="margin-top: 1vh;" *ngIf="serverConnectionInProgress | async">
              <progress></progress>
            </div>
          </clr-input-container>

          <table class="table" *ngIf="serverHealthStatus">
            <thead>
              <tr>
                <th>Domain</th>
                <th>OS</th>
                <th>Platform</th>
                <th>OS version</th>
                <th>Memory</th>
                <th>Running processes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ serverHealthStatus.getDomain() }}</td>
                <td>{{ serverHealthStatus.getOsfullname() }}</td>
                <td>{{ serverHealthStatus.getOsplatform() }}</td>
                <td>{{ serverHealthStatus.getOsversion() }}</td>
                <td>{{ prettySize(serverHealthStatus.getAvailablememory()) }} free of {{ prettySize(serverHealthStatus.getTotalmemory()) }}</td>
                <td>{{ serverHealthStatus.getNumberofrunningprocesses() }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <button class="btn btn-sm btn-link" (click)="tryToConnect()">
            <ng-container *ngIf="serverHealthStatus">
              Back
            </ng-container>
            <ng-container *ngIf="!serverHealthStatus">
              Connect
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
