<div class="content-area">
  <h1>
    Welcome
  </h1>
  <p class="p1">
    This is manager application for all tests that running in Google Kubernetes cluster.
  </p>
</div>
<div class="content-area">
  <h3>
    Navigation help
  </h3>
  <p class="p1">
    On the top menu you could click on <span class="p2">Global Test Settings</span> to configure Test Server address, see the list of tests, manage global application settings.
  </p>
  <p class="p1">
    Click on <span class="p2">Running tests</span> to see current status of all test. If the running, stopped, has errors, etc..
  </p>
  <p class="p1">
    Click on <span class="p2">Reports</span> to browse on history reports
  </p>
</div>
