.clr-select-wrapper {
  width: 100%;
}

.clr-select-wrapper > select {
  width: 100%;
}

#grpcServerAddressContainer {
  flex-flow: row;
}

#grpcServerAddressContainer > label {
  display: unset;
}

#grpcServerAddressContainer .clr-control-container {
  display: unset;
  flex-grow: 2;
}

#grpcServerAddressContainer .clr-control-container .clr-input-wrapper {
  display: unset;
  width: 100%;
}

#grpcServerAddressContainer .clr-control-container .clr-input-wrapper > input {
  width: 40%;
  margin-left: 2vw;
}

.modal-body {
  margin-top: 1.2rem;
}

clr-select-container.clr-form-control {
  flex-direction: unset;
  flex-grow: 4;
}

clr-select-container.clr-form-control .clr-control-container {
  flex-grow: 2;
}

clr-select-container .clr-control-container {
  margin-left: 2vw;
  margin-right: 1vw;
}

// #overallProgressBar {
//   --clr-progress-default-color: green;
//   color: green;
//   --clr-progress-bg-color: blue;
// }
